$min: 'min-width';
$max: 'max-width';

$mobile-size: 640px;
$medium-size: 641px;
$medium-max-size: 960px;
$large-size: 1280px;
$large-max-size: 1440px;

$font-family: 'Oxygen', Helvetica, Arial, sans-serif;
